:root {
  --font-family: "Lexend", sans-serif;
  --font-small: 16px;
  --font-medium: 21px;
  --font-large: 24px;
  --font-big: 32px;
  --padding-small: 20px;
  --padding-medium: 40px;
  --gap-tiny: 10px;
  --gap-small: 20px;
  --gap-medium: 30px;
  --gap-large: 40px;
  --radius-tiny: 2px;
  --radius-small:4px;
  --radius-medium: 8px;
  --button-small-width: 60px;
  --button-small-height: 30px;
  --button-large-width: 128px;
  --button-large-height: 48px;
  --base-background-color: whitesmoke;
  --top-background-color: white;
  --inset-background-color: gainsboro;
  --book-cover-background: lavender;
  --button-base-color: rgb(230, 230, 230);
  --transluscent-gray: rgb(0, 0, 0, 0.2);
  --header-button-hover-color: rgb(240, 240, 240);
  --card-button-hover-color: rgb(255, 255, 255, 0.2);
  --header-button-active-color: rgb(200, 200, 200);
  --card-button-active-color: rgb(180, 180, 180, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  padding: var(--padding-medium);
  background-color: var(--base-background-color);
}

button,
input[type="checkbox"] {
  appearance: none;
}

button {
  background-color: var(--button-base-color);
  align-self: center;
  border: none;
  border-radius: var(--radius-small);
  box-shadow: 0 1px 2px var(--transluscent-gray);
  width: var(--button-large-width);
  height: var(--button-large-height);
}

button:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  background-color: var(--inset-background-color);
  height: 15px;
  width: 15px;
  position: relative;
}

input[type="checkbox"]::before {
  content: "🗸";
  font-size: var(--font-medium);
  position: absolute;
  top: -10px;
  visibility: hidden;
}

input[type="checkbox"]:checked:before {
  visibility: visible;
}

h1 {
  font-size: var(--font-big);
}

h4 {
  font-size: var(--font-big);
  margin-bottom: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-large);
}

.header {
  background-color: var(--top-background-color);
  box-shadow: 0 2px 3px var(--transluscent-gray);
  width: 100%;
  padding: var(--padding-small);
  border-radius: var(--radius-medium);
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--gap-medium);
  justify-items: center;
}

.header-buttons {
  display: flex;
  gap: var(--gap-small);
}

.header-buttons button:hover {
  background-color: var(--header-button-hover-color);
}

.header-buttons button:active {
  background-color: var(--header-button-active-color);
}

.card-container {
  width: 100%;
  padding: calc(var(--padding-medium));
  background-color: var(--inset-background-color);
  border-radius: var(--radius-medium);
  box-shadow: 0 0 5px inset var(--transluscent-gray);
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 500px;
  gap: var(--gap-large);
  justify-content: center;
}

.card {
  border-radius: var(--radius-medium);
  overflow: hidden;
  background-color: var(--top-background-color);
  box-shadow: 0 6px 6px var(--transluscent-gray);
  position: relative;
}

.card button:hover {
  background-color: var(--card-button-hover-color);
}

.card button:active {
  background-color: var(--card-button-active-color);
}

button.remove-card,
button.toggle-read {
  background-color: transparent;
  backdrop-filter: blur(1px);
  position: absolute;
  height: var(--button-small-height);
  width: var(--button-small-width);
  font-weight: 1000;
}

button.remove-card {
  top: var(--gap-tiny);
  right: var(--gap-tiny);
}

button.toggle-read {
  top: var(--gap-tiny);
  left: var(--gap-tiny);
}

.book-cover {
  height: 300px;
  background-color: var(--book-cover-background);
}

.book-details {
  height: 200px;
  padding: var(--padding-small);
}

#modal[open] {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: var(--padding-medium);
  border: none;
  border-radius: var(--radius-medium);
  box-shadow: 0 4px 5px var(--transluscent-gray);
}

#modal[open]::backdrop {
  background-color: var(--transluscent-gray);
  backdrop-filter: blur(1px);
}

.book-inputs {
  border: none;
  display: grid;
  grid-template-columns: 250px 1fr;
  row-gap: var(--gap-small);
  margin-bottom: 32px;
  font-size: var(--font-medium);
}

.book-inputs input[type="text"],
.book-inputs input[type="number"] {
  border: none;
  background-color: var(--inset-background-color);
  border-radius: 2px;
  box-shadow: 0 0 1px inset rgb(0, 0, 0, 0.3);
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: var(--gap-medium);
}

.form-buttons button {
  font-size: var(--font-small);
}